include pycaption/english.pickle
include pycaption/NotoSansDisplay-Regular.ttf
include pycaption/NotoSansDisplay-Regular-note.ttf
include pycaption/NotoSansSC-Regular.otf
recursive-exclude tests *
include README.rst requirements.txt
